{% extends 'recipesapp/base.html' %}
{% load static %}

{% block title %}Добавить рецепт{% endblock %}
{% block main %}
    <section class="main_block">
        <h1 class="center">Добавление нового рецепта</h1>
        <div class="center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div class="center">
                    <input type="submit" class="btn" value="Отправить">
                </div>
            </form>
        </div>
    </section>
{% endblock %}